<html ng-app="VideoDownload">
<head>
	<title>Twitch TV Downloader</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			Twitch TV Downloader
		</div>
		<div id="main" class="container">

			<div id="page-header">
				Scarra's stream
			</div>

			<div id="video-list" ng-controller="VideoCtrl">
				<div class="video" ng-repeat="video in videos">
					<span class="image">
						<img src="{{video.parts[0].image_url_medium}}" width="32" height="24" />
					</span>
					<span class="title">
						{{video.parts[0].title}}
					</span>
					<span class="date">
						{{video.parts[0].date}}
					</span>
					<span class="download">
						<a class="show-downloads" href="javascript:void(0);" display-downloads>Download</a>
						<div class="downloads hidden">
							<div class="part" ng-repeat="part in video.parts">
								<span class="file"><a href="{{part.video_file_url}}">Part {{$index + 1}}</a></span>
							</div>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>